.content {
	position: relative;
	padding: 10px 20px;
}

.caption img {
	max-width: 150px;
	max-height: 150px;
	float: left;
	margin-right: 10px;
}

h3 {
	margin: 10px 0;
}

.thumbnail {
	min-height:177px;
}

.section-anchor {
  position: absolute;
  top: -85px;
}

.input-group input{
	top: 1px;
}

.sidebar-nav li {
	position:relative;
}

.sidebar-nav > .sidebar-brand.title {
	height:50px;
}

.sidebar-nav li.input {
	padding: 0px 0px 10px;
	line-height: inherit;
}

.sidebar-nav li button {
	position:absolute;
	right: 5px;
	top:5px;
}

.button-group {
	position: absolute;
	right: 10px;
	top: 0;
}

.row {
	position:relative;
	padding: 0 0 10px;
	margin:0;
}

#page-content-wrapper .glyphicon.glyphicon-map-marker {
	position:absolute;
	font-size:1.8em;
	text-shadow: 2px 2px 5px #000;
	color: #2a6496;
	cursor: pointer;
}

#page-content-wrapper .glyphicon.glyphicon-map-marker.selected {
	color: #f00;
}

.sidebar-nav li a.selected {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

/* Modal */

.modal-footer {
	margin-top: 0;
	border-top: none;
}

.navbar {
	background-color: #1b1f23;
	margin: 0;
}

.btn-row {
	padding:0 15px 15px;
}


#page-content-wrapper .glyphicon.glyphicon-map-marker, .thumbnail {
  -webkit-animation: enter_sequence 0.5s linear; /* Safari/Chrome */
  animation: enter_sequence 0.5s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}

.input-group {
	padding-bottom:10px;
}

p.bg-warning {
	background-color: #f2dede;
	display: table-caption;
	padding:5px;
	margin:0;
	font-size: 0.8em;
}
