

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.content {
	position: relative;
	padding: 15px;
}

.caption img {
	max-width: 150px;
	max-height: 150px;
	float: left;
	margin-right: 10px;
}

h3 {
	margin: 10px 0;
}

.thumbnail {
	min-height:177px;
}

.section-anchor {
  position: absolute;
  top: -85px;
}

.input-group input{
	top: 1px;
}

.sidebar-nav li {
	position:relative;
}

.sidebar-nav li button {
	position:absolute;
	right: 5px;
	top:5px;
}

.button-group {
	position: absolute;
	right: 10px;
	top: 0;
}

.row {
	position:relative;
	padding: 0 0 10px;
	margin:0;
}

#wrapper .glyphicon.glyphicon-map-marker {
	position:absolute;
	font-size:1.8em;
	text-shadow: 2px 2px 5px #000;
	color: #2a6496;
	cursor: pointer;
}

#wrapper .glyphicon.glyphicon-map-marker.selected {
	color: #f00;
}

.sidebar-nav li a.selected {
	color: #fff;
	background: rgba(255,255,255,0.2);
	text-decoration: none;
}

/* Modal */

.modal-footer {
	margin-top: 0;
	border-top: none;
}





.glyphicon.glyphicon-map-marker {
  -webkit-animation: enter_sequence 0.5s linear; /* Safari/Chrome */
  animation: enter_sequence 0.5s linear; /* IE10+ and Future Browsers */
}
@-webkit-keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}
@keyframes enter_sequence {
  from { opacity:0; }
  to { opacity:1; }
}


