<!DOCTYPE html>
<html ng-app="webApp">
    <head>
	
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Office Web App</title>
        <meta name="description" content="Office Web App - Nic128">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
		<link href="css/simple-sidebar.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">

    </head>
    <body ng-controller="IndexCtrl">
		
		<div id="wrapper">
		
			<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					<li class="sidebar-brand">Edit map position</li>
					<li ng-repeat="person in persons">
						<a href="#">{{person.name}}</a>
					</li>
				</ul>
			</div>
			
			
			<!-- Page content -->
			<div id="page-content-wrapper">
				<div class="content-header">
					<h1>
						<a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
						Simple Sidebar
					</h1>
					<p class="button-group">
						<a href="#" class="btn btn-primary" role="button" ng-click="save()">Edit</a> 
						<a href="#" class="btn btn-default" role="button" ng-click="cancel()">Delete</a>
						<script type="text/ng-template" id="myModalContent.html">
							<div class="modal-header">
								<h3 class="modal-title">Are you sure you want to save and quit editing?</h3>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary" ng-click="ok()">OK</button>
								<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
							</div>
						</script>
					</p>
				</div>
				<!-- Keep all page content within the page-content inset div! -->
				<div class="page-content inset" ng-controller="MapCtrl as map">
					<div class="row">
						<input type="number" name="xValue" ng-model="map.xValue" ng-change="map.changePosition()" ng-disabled="map.inputDisabled()">
						<input type="number" name="yValue" ng-model="map.yValue" ng-change="map.changePosition()" ng-disabled="map.inputDisabled()">
					</div>
					<div class="row">
						<span class="glyphicon glyphicon-map-marker" 
							ng-repeat="person in persons" ng-style="person.style" 
							ng-click="map.select(person)" ng-init="map.initPosition(person)"
							ng-class="map.selectedClass(person)"></span>
						<img ng-src="img/DepartmentOfficeMap.gif" ng-click="map.unselect()">
					</div>
				</div>
			</div>
		{{persons}}
        </div>
		
		
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
        <script src="js/vendor/angular-route.min.js"></script>
        <script src="js/vendor/ui-bootstrap-tpls-0.11.0.min.js"></script>
        <script src="js/controller.js"></script>

    </body>
</html>
