	<!-- Page content -->
	<div id="page-content-wrapper">
		<div class="content-header">
			<h1>
				<a id="menu-toggle" href="javascript:;" class="btn btn-default" ng-click="toggleMenu()"><i class="icon-reorder"></i></a>
				Edit Map
			</h1>
		</div>
		<!-- Keep all page content within the page-content inset div! -->
		<div class="page-content inset">
			<div class="row">
				<input type="number" name="xValue" ng-model="xValue" ng-change="changePosition()" ng-disabled="inputDisabled()">
				<input type="number" name="yValue" ng-model="yValue" ng-change="changePosition()" ng-disabled="inputDisabled()">
			</div>
			<div class="row">
				<span class="glyphicon glyphicon-map-marker"  
					ng-repeat="person in persons" ng-style="person.style" 
					ng-click="select(person)" ng-init="initPosition(person)"
					ng-class="selectedClass(person)" pointer-draggable></span>
				<img ng-src="img/DepartmentOfficeMap.gif" ng-click="resetSelection()">
			</div>
		</div>
	</div>
