	<!-- Page content -->
	<div id="page-content-wrapper">
	
		<div class="content-header">
			<h1>
				<a id="menu-toggle" href="javascript:;" class="btn btn-default" ng-click="toggleMenu()"><i class="icon-reorder"></i></a>
				Home
			</h1>
		</div>
		
		<div class="content">
			<p>In a big office, new employees often need help to find co-workers. Why not build an interactive map of your office?</p>
			
			<p>Github repo: <a href="https://github.com/Nic128/OfficeMapWebApp" target="_blank">Office Map Web App</a></p>

			<p>This app loads data from a JSON file and populates an office map. In the map section, it lets you select and edit the person's position while dragging the pointers, or by a number input. In the user section, it lets you modify the user's information, create or delete a user. It restores your data on page reload from localStorage. It resets default data with refresh button.</p>

			<p>This is a test app built with Angularjs and Twitter Bootstrap by Nic128. No jQuery. angular-ui-bootstrap is used instead for Bootstrap components. Glyphicons are used for icons.</p>

			<ul>
				<li>Angular Web site: <a href="http://angularjs.org" target="_blank">http://angularjs.org</a></li>
				<li>Bootstrap Web site: <a href="http://getbootstrap.com" target="_blank">http://getbootstrap.com</a></li>
				<li>Glyphicons Web site: <a href="http://glyphicons.com" target="_blank">http://glyphicons.com</a></li>
				<li>angular-ui-bootstrap <a href="http://angular-ui.github.io/bootstrap/" target="_blank">http://angular-ui.github.io/bootstrap/</a></li>
				<li>Simple Sidebar template <a href="http://startbootstrap.com/simple-sidebar" target="_blank">http://startbootstrap.com/simple-sidebar</a></li>
			</ul>
			
			<h2>To develop</h2>
			<ul>
				<li>Fallback to cookies when localStorage is not supported.</li>
				<li>Export a non-editable package for download</li>
				<li>Build a form to change the map image and the json source.</li>
			</ul>
			
		</div>
		
	</div> 
